autopep8==1.6.0
bidict==0.21.2
black==22.6.0
certifi==2020.12.5
chardet==4.0.0
charset-normalizer==2.1.0
click==8.1.3
idna==2.10
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.2
pycodestyle==2.8.0
python-engineio==3.13.0
python-socketio==4.6.0
requests==2.25.1
six==1.15.0
toml==0.10.2
tomli==2.0.1
urllib3==1.26.4
websocket-client==0.57.0
-e git+ssh://git@github.com/yashrj25/xts.git@30006d52f918459aca537af12388d1cc5184a586#egg=xts
